/* style.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.main-header {
    background-color: #ffffff;
    color: #3D84A8;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 100px;

}

.logo-container img {
    height: 14vh;
    width: auto;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0 30px 0 0;
}

.main-nav ul li {
    display: inline-block;
    margin-left: 40px;
    padding: 0 10px;
    position: relative;
}

.main-nav ul li:not(:first-child)::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    height: 117px;

}


.main-nav ul li:first-child {
    padding-left: 0;
}

.main-nav ul li:last-child {
    padding-right: 0;
}

.main-nav li:not(:last-child) {
    margin-right: 20px;
}

.main-nav a {
    text-decoration: none;
    color: #3D84A8;
    font-weight: bold;
    font-size: 15px;
}

.main-nav a:hover {
    color: #0056b3;
}

.form-container {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 15px;
    width: 45%;
    max-width: 800px;
    margin: 40px auto;
    outline: #d8d8d8 solid 1px;
}

.form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px;
    width: 100%
}

label {
    font-weight: bold;
    flex-basis: 30%;
    text-align: right;
}


input, select {
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 15px;
    margin-right: 17%;
}

input{
    width: 40%;
}

select{
    width: 44%;
}

button{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
    height: 60px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
    padding: 10px 10px 30px;
}

.predict-survival-btn {
    background-color: #0056b3;
    color: white;
    font-size: 14px;
    margin: 0 5px;
    outline: 1px solid #0056b3;
}

.predict-survival-btn:hover {
    background-color: #00408b;
}

.clear-form-btn {
    background-color: #ffffff;
    color: #000000;
    margin: 0 5px;
    font-size: 14px;
    outline: 1px solid #000000;
}

.clear-form-btn:hover {
    background-color: #cccccc;
}

.results-style {
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
}

.result-label {
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
}

.result-value {
    display: inline-block;
}

#form-title {
    color: #3D84A8;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 5px;
}

#form-instruction{
    color: #3D84A8;
    text-align:center;
    padding-bottom: 20px;
}

#loading{
    text-align:center;
}

#loading-label{
    font-weight: bold;
    padding-bottom: 30px;
}

#loading-spinner{
    padding: 30px;
}

#login-header{
    background-color: #ffffff;
    color: #3D84A8;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 100px;
}

#login-box{
    margin: 40px auto;
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 15px;
    width: 30%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    outline: #d8d8d8 solid 1px;
}

.login-row{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px;
    width: 100%
}

#login-title{
    align-content: center;
}

#note{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-size: 12px;
    color: #3D84A8;
}

#return_to_login{
    padding-top: 10px;
}

.login-button-container{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 100%;
}

.btn-login{
    width: 50%;
    background-color: #0056b3;
    color: white;
    font-size: 15px;
    margin: 0 5px;
}

.btn-login:hover{
    background-color: #00408b;
}

#username, #password{
    width:40%
}

.hide-input{
    display: none;
}

.error-message{
    text-align: center;
    width: 100%;
    color: #b00606;
    padding-bottom: 15px;
    font-size: 14px;
}