<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PCRC - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/svg" href="static/images/Logo_trans.svg">
</head>
<body>
<header class="main-header">
    <div class="logo-container">
        <img src="static/images/Logo_full.svg" alt="PCRC Logo" class="logo">
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="/form">New Prediction</a></li>
            <li><a href="#">Previous Predictions</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Logout</a></li>
        </ul>
    </nav>
</header>
<div class="form-container">
    <h1 style="color: #3D84A8">About Predict Colorectal Cancer</h1>
    <p>
        Predict Colorectal Cancer utilises the capabilities of two state-of-the-art machine learning models designed for
        survival analysis (Random Survival Forests) in order to return survival probabilities. Below we outline the key
        metrics of our model to ensure transparency and build trust in this WebApp.
    </p>
    <h2 style="color: #3D84A8">Model Metrics</h2>
    <p>
        <b>C-Index (5-year = 0.82, 10-year = 0.79):</b> Reflects the model's ability to correctly rank survival times. A value closer to 1
        indicates a high degree of predictive accuracy in ranking, whereas a value closer to 0.5 suggests performance
        similar to random chance.
    </p>
    <p>
        <b>AverageAUC (5-year = 0.86, 10-year = 0.83):</b> This value represents the model's ability to distinguish between different
        survival outcomes over a 10-year period. An AUC closer to 1 indicates a strong ability to differentiate between
        patients who will experience an event and those who will not within this timeframe.
    </p>
    <p>
        <b>Brier Score for 10-Year Survival (5-year = 0.12, 10-year = 0.18):</b> This metric measures the accuracy of our probabilistic
        predictions and ranges between 0 and 1. A lower Brier score indicates more precise predictions, with 0 being
        perfectly accurate. Our model's Brier score suggests a reasonable level of accuracy in estimating 10-year
        survival probabilities, though it also highlights the presence of prediction errors.
    </p>
</div>
</body>
</html>