<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PCRC - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/svg" href="static/images/Logo_trans.svg">
</head>
<body>
<header class="main-header">
    <div class="logo-container">
        <img src="static/images/Logo_full.svg" alt="PCRC Logo" class="logo">
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="/form">New Prediction</a></li>
            <li><a href="#">Previous Predictions</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Logout</a></li>
        </ul>
    </nav>
</header>
<div class="form-container">
    <h1 style="color: #3D84A8">About Predict Colorectal Cancer</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel blandit dolor, in molestie enim. In bibendum
        placerat mi eu aliquet. Donec condimentum maximus tristique. Quisque sed erat placerat, vehicula ex vitae,
        mattis est. Mauris a tempor augue. Curabitur porttitor risus laoreet metus tincidunt vestibulum. Maecenas
        accumsan id tortor non suscipit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel blandit dolor, in molestie enim. In bibendum
        placerat mi eu aliquet. Donec condimentum maximus tristique. Quisque sed erat placerat, vehicula ex vitae, mattis
        est. Mauris a tempor augue. Curabitur porttitor risus laoreet metus tincidunt vestibulum. Maecenas accumsan id
        tortor non suscipit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
    <p>
        Cras ut semper mauris. Pellentesque efficitur rhoncus justo, ac convallis nibh semper eget. Sed tincidunt mauris at
        quam tincidunt malesuada. Sed egestas, eros ac ullamcorper dapibus, justo ipsum aliquet ligula, interdum tempor
        mauris dolor molestie neque. Nam sed ex eget odio interdum bibendum. Integer id libero quis odio lacinia dapibus nec
        sit amet sapien. Nunc purus erat, condimentum in imperdiet ut, vestibulum vitae leo. Proin in dui nulla. Aenean
        ultrices tincidunt libero, a euismod enim blandit quis. Aenean placerat turpis sed justo iaculis, convallis sagittis
        mi varius. Suspendisse venenatis, lectus sit amet euismod aliquet, quam ipsum luctus augue, eu tristique risus neque
        eget ex. Donec auctor, metus quis ullamcorper tincidunt, libero massa gravida tellus, nec rhoncus quam neque quis
        urna. Fusce ut scelerisque metus. Proin eget metus at enim dignissim mollis.

    </p>
    <p>
        Cras ut semper mauris. Pellentesque efficitur rhoncus justo, ac convallis nibh semper eget. Sed tincidunt mauris at
        quam tincidunt malesuada. Sed egestas, eros ac ullamcorper dapibus, justo ipsum aliquet ligula, interdum tempor
        mauris dolor molestie neque. Nam sed ex eget odio interdum bibendum. Integer id libero quis odio lacinia dapibus nec
        sit amet sapien. Nunc purus erat, condimentum in imperdiet ut, vestibulum vitae leo. Proin in dui nulla. Aenean
        ultrices tincidunt libero, a euismod enim blandit quis. Aenean placerat turpis sed justo iaculis, convallis sagittis
        mi varius. Suspendisse venenatis, lectus sit amet euismod aliquet, quam ipsum luctus augue, eu tristique risus neque
        eget ex. Donec auctor, metus quis ullamcorper tincidunt, libero massa gravida tellus, nec rhoncus quam neque quis
        urna. Fusce ut scelerisque metus. Proin eget metus at enim dignissim mollis.

    </p>
    <p>
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras consectetur sed mi eget iaculis. Duis in accumsan
        neque, et posuere velit. Quisque sit amet lorem bibendum risus auctor interdum. Phasellus aliquam leo sem,
        pellentesque congue nunc porttitor vitae. Nulla non eleifend felis. Mauris faucibus suscipit est, eu mollis elit
        mattis quis. Mauris commodo purus arcu, nec bibendum elit dapibus non. Nulla vitae enim sed quam auctor hendrerit.
        Nam faucibus mauris porta efficitur laoreet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Ut purus nulla, tristique ac dapibus a, finibus sed nisi. Fusce ipsum elit, dignissim at finibus ut,
        vulputate sodales nibh. Nullam et semper magna.

    </p>
    <p>
        Phasellus venenatis justo facilisis lacus fermentum commodo finibus vel turpis. In fermentum et tortor et vulputate.
        Morbi scelerisque pharetra lacinia. In lacinia eros et dolor rhoncus iaculis. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Aenean bibendum nunc metus, vel iaculis purus accumsan eget. Aenean eget ornare lacus,
        quis facilisis ipsum. Integer eu ex quam. Pellentesque rhoncus condimentum libero et mollis. Integer tristique
        ornare orci, et dignissim risus placerat eget. Etiam faucibus placerat iaculis. Nullam et purus eget turpis eleifend
        sollicitudin. Nam pulvinar, erat eget sodales sagittis, sem felis sollicitudin ligula, a porttitor quam sapien
        eleifend odio. Phasellus tortor neque, volutpat in scelerisque sit amet, mattis ac eros.

    </p>

    <p>
        Nulla a nulla at felis accumsan pulvinar at non tortor. Curabitur lobortis faucibus faucibus. Curabitur convallis
        augue vitae dui maximus iaculis. Morbi consequat leo est, ut euismod est lacinia eu. Morbi sed congue urna. Sed
        fringilla, sem quis gravida egestas, felis quam egestas nisi, a imperdiet urna nisl sed nunc. Nam non consequat
        urna. Etiam blandit leo id elit ullamcorper sagittis. Pellentesque massa augue, congue eget enim non, semper
        dignissim risus. Curabitur justo enim, vulputate non finibus non, euismod nec sem. Donec sagittis in felis vulputate
        tempus.
    </p>
</div>
</body>
</html>