<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PredictCRC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/svg" href="static/images/Logo_trans.svg">
</head>
<body>
    <header class="main-header">
        <div class="logo-container">
            <img src="static/images/Logo_full.svg" alt="PCRC Logo" class="logo">
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="/" onclick="window.location.reload();">New Prediction</a></li>
                <li><a href="#">Previous Predictions</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/login">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="form-container">
        <form id="predictionForm" action="/predict" method="post">
            <h2 id="form-title">Predict Colorectal Cancer WebTool</h2>
            <h3 id="form-instruction">Enter patient details to receive predictions </h3>
            <div class="form">
                <label for="forename">Forename</label>
                <input  type="text" id="forename" name="forename" placeholder="Enter forename" required>
            </div>
            <div class="form">
                <label for="surname">Surname</label>
                <input  type="text" id="surname" name="surname" placeholder="Enter surname" required>
            </div>
            <div class="form">
                <label for="age">Date of Birth</label>
                <input  type="date" id="age" name="age" min="1924-01-01" max="2004-01-01">
            </div>
            <div class="form">
                <label for="tnm_stage">TNM Stage</label>
                <select name="tnm_stage" id="tnm_stage" required>
                    <option value="" selected disabled>select an option</option>
                    <option value="0">2</option>
                    <option value="1">3</option>
                </select>
            </div>
            <div class="form">
                <label for="mmr_status">MMR Status</label>
                <select name="mmr_status" id="mmr_status" required>
                    <option value="" selected disabled>select an option</option>
                    <option value="0">pMMR</option>
                    <option value="1">dMMR</option>
                </select><br>
            </div>
            <div class="form">
                <label for="cimp_status">CIMP status</label>
                <select name="cimp_status" id="cimp_status" required>
                    <option value="" selected disabled>select an option</option>
                    <option value="0">-</option>
                    <option value="1">+</option>
                </select><br>
            </div>
            <div class="form">
                <label for="cin_status">CIN status</label>
                <select name="cin_status" id="cin_status" required>
                    <option value="" selected disabled>select an option</option>
                    <option value="0">-</option>
                    <option value="1">+</option>
                </select><br>
            </div>
            <div class="form">
                <label for="rfs_event_censored_10yr">Relapse Occurred</label>
                <select name="rfs_event_censored_10yr" id="rfs_event_censored_10yr" required>
                    <option value="" selected disabled>select an option</option>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select><br>
            </div>
            <div class="form">
                <label for="sex_Male">Sex</label>
                <select name="sex_Male" id="sex_Male" required>
                    <option value="" selected disabled>select an option</option>
                    <option value="False">Female</option>
                    <option value="True">Male</option>
                </select><br>
            </div>
            <div class="form">
                <label for="tumour_location_proximal">Tumour Location</label>
                <select name="tumour_location_proximal", id="tumour_location_proximal" required>
                    <option value="" selected disabled>select an option</option>
                    <option value="False">Distal</option>
                    <option value="True">Proximal</option>
                </select><br>
            </div>
            <div class="form">
                <label for="chemotherapy_adjuvant_Y">Chemotherapy adjuvant</label>
                <select name="chemotherapy_adjuvant_Y" id="chemotherapy_adjuvant_Y" required>
                    <option value="" selected disabled>select an option</option>
                    <option value="False">No</option>
                    <option value="True">Yes</option>
                </select><br>
            </div>
            <div class="form">
                <label for="kras_mutation_WT">KRAS Mutation Type</label>
                <select name="kras_mutation_WT" id="kras_mutation_WT" required>
                    <option value="" selected disabled>select an option</option>
                    <option value="True">WT</option>
                    <option value="False">M</option>
                </select><br>
            </div>
            <div class="form">
                <label for="braf_mutation_WT">BRAF Mutation Type</label>
                <select name="braf_mutation_WT" id="braf_mutation_WT" required>
                    <option value="" selected disabled>select an option</option>
                    <option value="True">WT</option>
                    <option value="False">M</option>
                </select><br>
            </div>
            <div class="form">
                <label for="cms">CMS</label>
                <select name="cms" id="cms" required>
                    <option value="" selected disabled>select an option</option>
                    <option value=0>0</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                </select><br>
            </div>
            <div class="button-container">
                <button type="reset" class="clear-form-btn">Clear Form</button>
                <button type="submit" class="predict-survival-btn">Predict Survival</button>
            </div>
        </form>
         <div id="loading" style="display:none;">
            <img id="loading-spinner" src="{{ url_for('static', filename='images/spinner.svg') }}" alt="Loading...">
             <p id="loading-label">Results calculating...</p>
        </div>
        <div id="results" style="display:none;"></div>
    </div>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const form = document.getElementById("predictionForm");
        const loading = document.getElementById("loading");
        const results = document.getElementById("results");

        form.onsubmit = function(e) {
            e.preventDefault(); // Prevent traditional form submission

            form.style.display = 'none'; // Hide the form
            loading.style.display = 'block'; // Show the loading wheel

            // Get the form data
            const formData = new FormData(form);
            fetch("/predict", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                setTimeout(() => {
                    loading.style.display = 'none'; // Hide the loading wheel

                    // Results div html
                    results.innerHTML = `<h2 id="form-instruction">Results</h2>
                        <div class="results-style">
                            <span class="result-label">Name:</span> <span class="result-value"> ${(data.first_name)} ${(data.last_name)} </span>
                        </div>
                        <div class="results-style">
                            <span class="result-label">1-Year Survival Probability:</span> <span class="result-value">${(data.one_year.toFixed(2)) * 100}%</span>
                        </div>
                        <div class="results-style">
                            <span class="result-label">5-Year Survival Probability:</span> <span class="result-value">${(data.five_year.toFixed(2)) * 100}%</span>
                        </div>
                        <div class="results-style">
                            <span class="result-label">10-Year Survival Probability:</span> <span class="result-value">${(data.ten_year.toFixed(2)) * 100}%</span>
                        </div>
                        <div class="button-container">
                            <button class="clear-form-btn" onclick="window.location.reload();">New Prediction</button>
                            <button class="predict-survival-btn"> Save </button>
                        </div>`;
                    results.style.display = 'block'; // Display the results inside the results div
                }, 3000); // 3000 milliseconds delay before showing the results
            })
            .catch(error => {
                console.error('Error:', error);
            });
        };
    });
    </script>
</body>
</html>
