<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PCRC - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/svg" href="static/images/Logo_trans.svg">
</head>
<body>
<header id="login-header">
    <div class="logo-container">
        <img src="static/images/Logo_full.svg" alt="PCRC Logo" class="logo">
    </div>
</header>
<div id="login-box">
    <div id="form-title"><h1>PCRC Web tool Login</h1></div>
    <form method="post">
        <div class="login-row">
            <label for="username">Username:</label>
            <input id="username" type="text" name="username" placeholder="Enter username" value="{{
          request.form.username }}" required>
        </div>
        <div class="login-row">
            <label for="password">Password:</label>
            <input id="password" type="password" name="password" placeholder="Enter password" value="{{
          request.form.password }}" required>
        </div>
        <div class="login-button-container">
            <button type="submit" class="btn-login">Login</button>
        </div>
        <div class="login-button-container">
            <a href="/login">Forgotten Password?</a>
        </div>
    </form>

</div>
</body>