<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PCRC - Logged Out</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/svg" href="static/images/Logo_trans.svg">
</head>
<body>
<header id="login-header">
    <div class="logo-container">
        <img src="static/images/Logo_full.svg" alt="PCRC Logo" class="logo">
    </div>
</header>
<div class="form-container">
    <div>
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
    </div>
    <div id="return_to_login">Click <a href="/login">here</a> to return to login page</div>
</div>

</body>
</html>
